{% extends "pages/base.html" %}
{% load static %}
{% block titulo%} Arquitectura {% endblock titulo%}
{% block contenido %}
<!--<section>-->
    <div class="container">
        <!--<div class="main-container fl-wrap">-->
            <div style="width: 100%;">
                <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;">
                    <iframe title="MAPA ESTRATÉGICO" frameborder="0" width="1200" height="675"
                            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                            src="https://view.genial.ly/64de7ee78073fd0019a02195" type="text/html"
                            allowscriptaccess="always" allowfullscreen="true" scrolling="yes"
                            allownetworking="all"></iframe>
                </div>
            </div>
        </div>
    <!--</div>-->
<!--</section>-->
{% endblock contenido %}
