{% extends "pages/base.html" %}
{% load static %}
{% block titulo%} Arquitectura {% endblock titulo%}
{% block contenido %}
<div class="breadcrumbs-header fl-wrap">
    <div class="container">
        <div class="breadcrumbs-header_url">
            <a href="#">Nuestro Legado</a><span>Pacífico 2800</span>
        </div>
        <div class="scroll-down-wrap">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
            <span>Desliza para descubrir</span>
        </div>
    </div>
    <div class="pwh_bg"></div>
</div>
<!--section   -->
<section>
    <div class="container">
        <div class="main-container fl-wrap fix-container-init">
            <div class="single-post-header fl-wrap">
                <a class="post-category-marker" href="category.html">Legado</a>
                <div class="clearfix"></div>
                <h1>Condominio Pacífico 2800</h1>
                <div class="clearfix"></div>
                <span class="post-date"><i class="far fa-clock"></i> 05 Abril 2021 al 05 April 2022</span>
            </div>
            <!-- single-post-media   -->
            <div class="single-post-media fl-wrap">
                <!-- hero-carousel-wrap    -->
                <div class="hero-carousel-wrap fl-wrap">
                    <div class="hero-carousel fl-wrap full-height">
                        <div class="swiper-container full-height">
                            <div class="swiper-wrapper">
                                <!-- swiper-slide    -->
                                <div class="swiper-slide">
                                    <div class="hero-carousel-item fl-wrap">
                                        <div class="grid-post-item  bold_gpi  fl-wrap">
                                            <div class="grid-post-media gpm_sing">
                                                <div class="bg" data-bg="images/all/1.jpg"></div>
                                                <div class="grid-post-media_title">
                                                    <h4><a href="post-single.html">First prototype flight using
                                                        kinetic launch
                                                        system</a></h4>
                                                    <span class="video-date"><i class="far fa-clock"></i> 15 March 2022</span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- swiper-slide end    -->
                                <!-- swiper-slide    -->
                                <div class="swiper-slide">
                                    <div class="hero-carousel-item hero-carousel-item_half fl-wrap">
                                        <div class="grid-post-item  bold_gpi  fl-wrap">
                                            <div class="grid-post-media gpm_sing">
                                                <div class="bg" data-bg="images/all/1.jpg"></div>
                                                <div class="grid-post-media_title">
                                                    <h4><a href="post-single.html">Here's the proof that momentum
                                                        strategies
                                                        work</a></h4>
                                                    <span class="video-date"><i class="far fa-clock"></i>  05 April 2022</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hero-carousel-item hero-carousel-item_half fl-wrap">
                                        <div class="grid-post-item  bold_gpi  fl-wrap">
                                            <div class="grid-post-media gpm_sing">
                                                <div class="bg" data-bg="images/all/1.jpg"></div>
                                                <div class="grid-post-media_title">
                                                    <h4><a href="post-single.html">How Maps Reshape American
                                                        Politics In
                                                        World</a></h4>
                                                    <span class="video-date"><i class="far fa-clock"></i> 22 march 2022</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- swiper-slide end    -->
                                <!-- swiper-slide    -->
                                <div class="swiper-slide">
                                    <div class="hero-carousel-item fl-wrap">
                                        <div class="grid-post-item  bold_gpi  fl-wrap">
                                            <div class="grid-post-media gpm_sing">
                                                <div class="bg" data-bg="images/all/1.jpg"></div>
                                                <div class="grid-post-media_title">
                                                    <h4><a href="post-single.html">First prototype flight using
                                                        kinetic launch
                                                        system</a></h4>
                                                    <span class="video-date"><i class="far fa-clock"></i> 15 March 2022</span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- swiper-slide end    -->
                                <!-- swiper-slide    -->
                                <div class="swiper-slide">
                                    <div class="hero-carousel-item fl-wrap">
                                        <div class="grid-post-item  bold_gpi  fl-wrap">
                                            <div class="grid-post-media gpm_sing">
                                                <div class="bg" data-bg="images/all/1.jpg"></div>
                                                <div class="grid-post-media_title">
                                                    <h4><a href="post-single.html">First prototype flight using
                                                        kinetic launch
                                                        system</a></h4>
                                                    <span class="video-date"><i class="far fa-clock"></i> 15 March 2022</span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- swiper-slide end    -->
                            </div>
                        </div>
                    </div>
                    <div class="hero-carousel-controls">
                        <div class="hero-carousel-pag"></div>
                        <div class="clearfix"></div>
                        <div class="hc-cont hc-cont-next"><i class="fas fa-caret-right"></i></div>
                        <div class="hc-cont hc-cont-prev"><i class="fas fa-caret-left"></i></div>
                    </div>
                </div>
                <!-- hero-slider-wrap  end   -->

            </div>
            <!-- single-post-media end   -->
            <!-- single-post-content   -->
            <div class="single-post-content  fl-wrap">
                <div class="fs-wrap smpar fl-wrap">
                    <div class="fontSize"><span class="fs_title">Tamaño: </span><input type="text"
                                                                                       class="rage-slider"
                                                                                       data-step="1" data-min="12"
                                                                                       data-max="15" value="12">
                    </div>
                    <div class="show-more-snopt smact"><i class="fal fa-ellipsis-v"></i></div>
                    <div class="show-more-snopt-tooltip">
                        <a href="#comments" class="custom-scroll-link"> <i class="fas fa-comment-alt"></i> Write a
                            Comment</a>
                        <a href="#"> <i class="fas fa-exclamation-triangle"></i> Report </a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="single-post-content_text" id="font_chage">
                    <div class="col-md-12">
                        <p> Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit
                            amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.Cras lacinia
                            magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Cras lacinia magna vel molestie faucibus.Cras lacinia magna vel
                            molestie faucibus. </p>
                        <p> Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit
                            amet,ras lacinia magna vel molestie faucibus.Cras lacinia magna vel
                            molestie faucibus. </p> consectetur adipiscing elit. Cras lacinia magna vel molestie
                        faucibus.Cras lacinia
                        magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur
                        adipiscing elit. C
                    </div>
                </div>
                <div class="grid-post-wrap gallery-items">
                    <!--grid-post-item-->
                </div>
                <!-- single-post-nav"   -->
                <!-- single-post-nav"  end   -->
            </div>
            <!-- single-post-content  end   -->
            <div class="limit-box2 fl-wrap"></div>
            <!-- post-author-->
            <!--post-author end-->
            <!--comments end -->
        </div>
    </div>
</section>
{% endblock contenido %}
